<a href="{{#if isAuthors}}../categories/{{categorySlug}}.html{{else if isCategories}}../categories/{{categorySlug}}.html{{else}}./categories/{{categorySlug}}.html{{/if}}"
   class="book-cover"
   style="background-color: {{categoryDark}};"
   data-category="{{category}}"
   data-author="{{author}}"
   data-type="{{type}}"
   data-location="{{location}}"
   data-title="{{title}}">
    <div class="book-cover-spine" style="background-color: {{categoryBorder}};"></div>
    <div class="book-cover-front">
        <div class="book-cover-decoration" style="background-color: {{categoryBorder}}; opacity: 0.3;"></div>
        <div class="book-cover-content">
            <h3 class="book-cover-title">{{title}}</h3>
            <div class="book-cover-divider" style="background-color: {{categoryBorder}};"></div>
            <p class="book-cover-author">{{firstName}} {{lastName}}</p>
        </div>
        <div class="book-cover-category">{{category}}</div>
        <div class="book-cover-footer">
            <span class="book-cover-type">
                {{#if (eq type "Audiobook")}}
                <svg class="w-3 h-3" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z"/>
                </svg>
                {{else}}
                <svg class="w-3 h-3" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"/>
                </svg>
                {{/if}}
                {{type}}
            </span>
            <span class="book-cover-location">{{location}}</span>
        </div>
    </div>
</a>
