<div class="bg-white rounded-lg overflow-hidden shadow-card transition-all hover:shadow-card-hover hover:-translate-y-0.5 flex flex-col h-full" data-category="{{category}}" data-author="{{author}}" data-type="{{type}}" data-location="{{location}}" data-title="{{title}}">
    <div class="flex justify-between items-center px-4 py-2 bg-gray-200 border-b border-gray-200">
        <span class="text-secondary text-xs font-normal">{{type}}</span>
        <span class="text-secondary text-xs font-normal">{{location}}</span>
    </div>
    <div class="p-4 flex-1 flex flex-col">
        <h3 class="text-lg mb-1 text-gray-800">{{title}}</h3>
        <p class="text-primary mb-4 text-sm">by <a href="{{#if isAuthors}}../authors/{{authorSlug}}.html{{else if isCategories}}../authors/{{authorSlug}}.html{{else}}./authors/{{authorSlug}}.html{{/if}}" class="text-primary no-underline transition-colors hover:text-primary/80 hover:underline">{{firstName}} {{lastName}}</a></p>
        <p class="text-secondary text-sm uppercase tracking-wider"><a href="{{#if isCategories}}../categories/{{categorySlug}}.html{{else if isAuthors}}../categories/{{categorySlug}}.html{{else}}./categories/{{categorySlug}}.html{{/if}}" class="text-secondary no-underline transition-colors hover:text-secondary/80 hover:underline">{{category}}</a></p>
    </div>
</div>
