<div class="book-card" data-category="{{category}}" data-author="{{author}}" data-type="{{type}}" data-location="{{location}}" data-title="{{title}}">
    <div class="book-type-bar">
        <span class="book-type">{{type}}</span>
        <span class="book-location">{{location}}</span>
    </div>
    <div class="book-info">
        <h3 class="book-title">{{title}}</h3>
        <p class="book-author">by <a href="{{basePath}}authors/{{authorSlug}}.html">{{firstName}} {{lastName}}</a></p>
        <p class="book-category"><a href="{{basePath}}categories/{{categorySlug}}.html">{{category}}</a></p>
    </div>
</div>
